# Laravel основне
/vendor
/node_modules
.env
.env.*
.env.backup

# Кеші Laravel
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*
/storage/app/public
/storage/debugbar

# Laravel Mix / Vite
/public/hot
/public/build
/public/storage

# IDE/Editor файли
.idea/
.vscode/
.DS_Store
Thumbs.db
.phpactor.json
.phpunit.result.cache
.phpunit.cache
/fleet/
.zed/

# Інші можливі файли
Homestead.yaml
Homestead.json
auth.json
storage/telescope/*

.bash_history
# Log / Dump
*.log
*.sql
*.sqlite

# Coverage / Test stuff
/coverage
/.phpunit.result.cache
/.phpunit.cache
